## Programa Ingenias+ Data Science

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [32]:
import numpy as np               # Se importan la librer√≠as a utilizar 
import pandas as pd

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [33]:
expvida=pd.read_csv (r'life_expectancy_data.csv')     # Leo los datos en un DataFrame

In [34]:
print(expvida)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...    6.0               8.16         65.0        0.1  584.259210
1     ...   58.0               8.18         62.0        0.1  612.696514
2     ...   62.0               8.13         64.0        0.1  631.744976
3     ...   67.0               8.52         67.0        0.1  669.959000
4     ...   68.0               7.87         68.0        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
2933  ...   67.0               7.13         65.0       33.6  454.366654
2934  ...    7.0               6.52         68.0       36.7  453.351155
2935  ...   73.0               6.53         71.0       39.8   57.348340
2936  ...   76.0               6.16         75.0       42.1  548.587312
2937  ...   78.0               7.10         78.0       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
2933  12777511.0                    9.4                  9.4
2934  12633897.0                    9.8                  9.9
2935    125525.0                    1.2                  1.3
2936  12366165.0                    1.6                  1.7
2937  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 22 columns]

In [35]:
expvida

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

3) ¬øQue tipo de estructura de datos contiene la variable `expvida`?

In [36]:
type(expvida)

pandas.core.frame.DataFrame

4) ¬øCuantas filas y columnas tiene `expvida`?

In [37]:
expvida.shape

(2938, 22)

**Numero de filas**:

2938                    #uso raw NBConvert para dar el formato

**Numero de columnas**:

22                     #uso raw NBConvert para dar el formato

5) ¬øCual es el nombre de las columnas contenidas en `expvida`?

In [38]:
expvida.columns                                   # Obtengo el nombre de las columnas

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [39]:
expvida.head(10)            # Inspecciono las primeras filas

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

7) Y ahora las 10 ultimas.

In [40]:
expvida.tail(10)                     # Inspecciono las ultimas filas

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,Zimbabwe,2009,Developing,50.0,587.0,30,4.64,1.040021,73.0,853,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
2929,Zimbabwe,2008,Developing,48.2,632.0,30,3.56,20.843429,75.0,0,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
2930,Zimbabwe,2007,Developing,46.6,67.0,29,3.88,29.814566,72.0,242,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
2931,Zimbabwe,2006,Developing,45.4,7.0,28,4.57,34.262169,68.0,212,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
2932,Zimbabwe,2005,Developing,44.6,717.0,28,4.14,8.717409,65.0,420,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

8) ¬øQue tipos de datos contiene cada una de las columnas de `expvida`?

In [41]:
expvida.dtypes     # Tipo de datos en cada columna

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

9) ¬øHay valores faltantes en alguna de las columnas de `expvida`?

In [42]:
arreglo1=expvida.isnull().sum()                               # Obtengo la cantidad de datos faltantes en cada columna
print (arreglo1)

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [43]:
masnan=(expvida).isnull().sum().max()      # Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan       
print(masnan)

652

In [62]:
arreglo2=expvida.shape[0]               # Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero # y lo multiplico por 100                                     
porcentaje=(masnan / arreglo2) * 100 
print(porcentaje)

22.19196732471069

In [59]:
print(f"Porcentaje de datos faltantes: {round(porcentaje,1)}%")   # Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.

Porcentaje de datos faltantes: 22.2%

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una funci√≥n √∫til para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [69]:
expvida.rename({"Life expectancy ": "life_expectancy", " BMI ": "bmi", "Measles ": "measles"}, inplace=True, axis=1)

In [70]:
expvida.columns             # Chequeo que se hayan reemplazado correctamente

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

12) ¬øCual es el promedio de expectativa de vida (Life expectancy) en general?

In [71]:
expvida['life_expectancy'].mean()   # Obtengo el promedio de la columna

69.22493169398908

13) ¬øCual es el promedio de expectativa de vida (Life expectancy) por pa√≠s?

In [72]:
 prom_pais = expvida.groupby(['Country'])['life_expectancy'].mean()       # Obtengo el promedio por pais
print(prom_pais.to_string())

Country
Afghanistan                                             58.19375
Albania                                                 75.15625
Algeria                                                 73.61875
Angola                                                  49.01875
Antigua and Barbuda                                     75.05625
Argentina                                               75.15625
Armenia                                                 73.40000
Australia                                               81.81250
Austria                                                 81.48125
Azerbaijan                                              70.73125
Bahamas                                                 74.28750
Bahrain                                                 75.72500
Bangladesh                                              69.30000
Barbados                                                74.35625
Belarus                                                 69.90625
Belgium                                                 80.68125
Belize                                                  69.26875
Benin                                                   57.56875
Bhutan                                                  66.16250
Bolivia (Plurinational State of)                        67.70625
Bosnia and Herzegovina                                  75.96875
Botswana                                                56.05000
Brazil                                                  73.38125
Brunei Darussalam                                       76.48750
Bulgaria                                                72.85000
Burkina Faso                                            55.64375
Burundi                                                 55.53750
Cabo Verde                                              72.51875
Cambodia                                                64.34375
Cameroon                                                54.01875
Canada                                                  81.68750
Central African Republic                                48.51250
Chad                                                    50.38750
Chile                                                   79.45000
China                                                   74.26250
Colombia                                                73.28750
Comoros                                                 61.58125
Congo                                                   59.04375
Cook Islands                                                 NaN
Costa Rica                                              78.59375
Croatia                                                 76.11875
Cuba                                                    77.97500
Cyprus                                                  79.67500
Czechia                                                 76.76875
C√¥te d'Ivoire                                           50.38750
Democratic People's Republic of Korea                   69.19375
Democratic Republic of the Congo                        55.68750
Denmark                                                 79.25625
Djibouti                                                60.75625
Dominica                                                     NaN
Dominican Republic                                      72.34375
Ecuador                                                 74.72500
Egypt                                                   71.50000
El Salvador                                             71.74375
Equatorial Guinea                                       55.31250
Eritrea                                                 60.68750
Estonia                                                 74.94375
Ethiopia                                                59.11250
Fiji                                                    68.71250
Finland                                                 80.71250
France                                                  82.21875
Gabon                                                   62.24375
Gambia                                                  59.46250
Georgia                                                 73.50625
Germany                                                 81.17500
Ghana                                                   60.86250
Greece                                                  81.21875
Grenada                                                 73.29375
Guatemala                                               71.73125
Guinea                                                  56.01250
Guinea-Bissau                                           55.36875
Guyana                                                  65.63750
Haiti                                                   59.86875
Honduras                                                72.99375
Hungary                                                 73.82500
Iceland                                                 82.44375
India                                                   65.41875
Indonesia                                               67.55625
Iran (Islamic Republic of)                              73.85625
Iraq                                                    70.35625
Ireland                                                 80.15000
Israel                                                  81.30000
Italy                                                   82.18750
Jamaica                                                 74.29375
Japan                                                   82.53750
Jordan                                                  72.98750
Kazakhstan                                              66.76250
Kenya                                                   57.48125
Kiribati                                                65.15000
Kuwait                                                  73.84375
Kyrgyzstan                                              69.08125
Lao People's Democratic Republic                        62.38125
Latvia                                                  73.73125
Lebanon                                                 74.20000
Lesotho                                                 48.78125
Liberia                                                 57.52500
Libya                                                   72.48750
Lithuania                                               72.80625
Luxembourg                                              80.78125
Madagascar                                              62.74375
Malawi                                                  49.89375
Malaysia                                                73.75625
Maldives                                                75.53750
Mali                                                    54.93750
Malta                                                   80.36250
Marshall Islands                                             NaN
Mauritania                                              62.80000
Mauritius                                               72.71250
Mexico                                                  75.71875
Micronesia (Federated States of)                        68.20000
Monaco                                                       NaN
Mongolia                                                65.88750
Montenegro                                              74.50000
Morocco                                                 72.15625
Mozambique                                              53.39375
Myanmar                                                 64.20000
Namibia                                                 60.40000
Nauru                                                        NaN
Nepal                                                   66.48125
Netherlands                                             81.13125
New Zealand                                             81.33750
Nicaragua                                               73.45000
Niger                                                   56.98125
Nigeria                                                 51.35625
Niue                                                         NaN
Norway                                                  81.79375
Oman                                                    74.84375
Pakistan                                                64.50000
Palau                                                        NaN
Panama                                                  76.48750
Papua New Guinea                                        61.68125
Paraguay                                                73.11250
Peru                                                    73.66250
Philippines                                             67.57500
Poland                                                  75.65000
Portugal                                                79.99375
Qatar                                                   77.03125
Republic of Korea                                       80.48750
Republic of Moldova                                     69.98125
Romania                                                 74.05000
Russian Federation                                      67.76250
Rwanda                                                  59.31250
Saint Kitts and Nevis                                        NaN
Saint Lucia                                             73.60000
Saint Vincent and the Grenadines                        73.47500
Samoa                                                   73.61875
San Marino                                                   NaN
Sao Tome and Principe                                   65.16250
Saudi Arabia                                            73.46875
Senegal                                                 62.56875
Serbia                                                  73.95625
Seychelles                                              72.37500
Sierra Leone                                            46.11250
Singapore                                               81.47500
Slovakia                                                74.75000
Slovenia                                                79.73125
Solomon Islands                                         67.71250
Somalia                                                 53.31875
South Africa                                            57.50000
South Sudan                                             53.87500
Spain                                                   82.06875
Sri Lanka                                               73.40000
Sudan                                                   61.82500
Suriname                                                70.08125
Swaziland                                               51.32500
Sweden                                                  82.51875
Switzerland                                             82.33125
Syrian Arab Republic                                    70.85000
Tajikistan                                              66.65625
Thailand                                                73.08125
The former Yugoslav republic of Macedonia               74.11250
Timor-Leste                                             64.75625
Togo                                                    56.66250
Tonga                                                   72.53125
Trinidad and Tobago                                     71.06875
Tunisia                                                 74.35625
Turkey                                                  73.91250
Turkmenistan                                            64.61875
Tuvalu                                                       NaN
Uganda                                                  55.70625
Ukraine                                                 69.93750
United Arab Emirates                                    75.70000
United Kingdom of Great Britain and Northern Ireland    80.79375
United Republic of Tanzania                             56.00625
United States of America                                78.06250
Uruguay                                                 76.07500
Uzbekistan                                              68.03125
Vanuatu                                                 71.38750
Venezuela (Bolivarian Republic of)                      73.38750
Viet Nam                                                74.77500
Yemen                                                   63.86250
Zambia                                                  53.90625
Zimbabwe                                                50.48750

14) ¬øCual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¬øQue paises tienen esas expectativas de vida?

In [87]:
 prom_pais.max()               # Maxima expectativa de vida usando pandas

82.5375

In [88]:
 np.amax(prom_pais)  # Maxima expectativa de vida usando numpy

82.5375

In [89]:
 np.amin(prom_pais)              # Minima expectativa de vida usando numpy

46.1125

In [90]:
prom_pais.min()                  # Minima expectativa de vida usando pandas

46.1125

In [91]:
print(f"{prom_pais.idxmax()} tiene la expectativa m√°xima con {prom_pais.max()} a√±os")       # Muestro los resultados maximos

Japan tiene la expectativa m√°xima con 82.5375 a√±os

In [92]:
print(f"{prom_pais.idxmin()} tiene la expectativa minima con {prom_pais.min()} a√±os")                # Muestro los resultados minimos

Sierra Leone tiene la expectativa minima con 46.1125 a√±os

In [93]:
 prom_pais.loc[lambda vida : vida == prom_pais.max()]                  # Filtro las columnas para mostrar solo las filas que tengan valor
                                                                     # igual al maximo

Country
Japan    82.5375
Name: life_expectancy, dtype: float64

In [94]:
 prom_pais.loc[lambda vida : vida == prom_pais.min()]                  # Filtro las columnas para mostrar solo las filas que tengan valor
                                                                       # igual al minimo

Country
Sierra Leone    46.1125
Name: life_expectancy, dtype: float64

15) ¬øCuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la funci√≥n [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [95]:
 expvida['Status'].unique()                    # Obtengo los valores unicos de la columna status

array(['Developing', 'Developed'], dtype=object)

16) ¬øCuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la funci√≥n [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [96]:
expvida['Status'].value_counts()       # Cuento cuantos valores hay de cada categoria

Developing    2426
Developed      512
Name: Status, dtype: int64

18) ¬øCuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la funci√≥n [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [97]:
 expvida.loc[(expvida['Year'] == 2015) & (expvida['measles'] > 0)]                # Cuento cuantas filas tienen valores distintos de cero

,Country,Year,Status,life_expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.000000,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
96,Armenia,2015,Developing,74.8,118.0,1,NaN,0.000000,94.0,33,...,96.0,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7
112,Australia,2015,Developed,82.8,59.0,1,NaN,0.000000,93.0,74,...,93.0,NaN,93.0,0.1,56554.387600,23789338.0,0.6,0.6,0.937,20.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2826,Uzbekistan,2015,Developing,69.4,184.0,15,NaN,0.000000,99.0,22,...,99.0,NaN,99.0,0.1,2137.576852,312989.0,3.0,3.1,0.697,12.1
2842,Vanuatu,2015,Developing,72.0,13.0,0,NaN,0.000000,64.0,39,...,65.0,NaN,64.0,0.1,285.834140,26463.0,1.5,1.4,0.598,10.8
2874,Viet Nam,2015,Developing,76.0,127.0,28,NaN,0.000000,97.0,256,...,97.0,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6
2890,Yemen,2015,Developing,65.7,224.0,37,NaN,0.000000,69.0,468,...,63.0,NaN,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0
2906,Zambia,2015,Developing,61.8,33.0,27,NaN,0.000000,9.0,9,...,9.0,NaN,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5